Report/data/myschema.xsd

<?xml version = "1.0" encoding = "UTF-8" standalone = "yes"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
<xs:annotation>
	<xs:documentation>
		This is the documentation for a xml schema. The comment is replaced by anotations. 
	</xs:documentation>
</xs:annotation>
<xs:element name="wonder">
<xs:complexType>
	<xs:sequence>
		<xs:element name="name" type="xs:string" />
		<xs:element name="location" type="xs:string" default="India" />
		<xs:element name="height" type="xs:integer" />
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>